# Database
POSTGRES_USER=sakuraalphaadmin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=sakuraalpha
DATABASE_URL=postgresql://sakuraalphaadmin:your_password_here@postgres:5432/sakuraalpha

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=60

ALLOWED_ORIGINS= 
REFRESH_TOKEN_EXPIRE_DAYS=