# Database
POSTGRES_USER=sakurabetaadmin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=sakurabeta
DATABASE_URL=postgresql://sakurabetaadmin:your_password_here@postgres:5432/sakurabeta

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=60

ALLOWED_ORIGINS= 
REFRESH_TOKEN_EXPIRE_DAYS=